* {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  text-align: center
}

.app {
  background: #ccc;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px 10px 0 10px;
}
